@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #91C16C;
    height: 100px;
    box-shadow: 2px 2px 2px #C2C2C2;
}

.tituloHeader{
    color: #A7D385;
    font-size: 60px;
    padding-top: 12px;
    padding-left: 100px;
    text-shadow: 1px 1px 5px #725755;

}

.tabela{
    background-color: #A8D385;
    color: white;
    box-shadow: 1px 1px 1px #C2C2C2;
    height: 650px;
    width: 1600px;
    display: inline-block;
}

.tituloTabela{
    color: #91C16C;
    margin-bottom: -50px;
    font-size: 30px;
    height: 100px;
    width: 500px;
}


#tdId{
    width: 150px;
}

#tdUser{
    width: 300px;
    height: 50px;
}

#tdIdHead{
    width: 150px;
    font-size: 25px;
}

#tdUserHead{
    width: 300px;
    height: 50px;
    font-size: 25px;
}

#tdDesejoHead{
    width: 300px;
    height: 50px;
    font-size: 25px;
}


.secaoTabela{
    height: 765px;
    width: 1600px;
    position:absolute;
    bottom: 0;
    top: 250px;
    right: 0;
    left: 0;
    margin: auto;
}

.btn{
    cursor: pointer;
    margin-left: 100px;
    height: 30px;
    width: 200px;
    color: white;
    background-color: #91C16C;
    border: 0px;
    margin-top: 60px;
}

.btn:hover{
    background-color: white;
    color: #91C16C;
    box-shadow: 1px 1px 5px #91C16C;
}

.inputDesejo{
    border: 1px solid #91C16C;
    height: 30px;
    width: 1041px;
    margin-left: 50px;
    text-align: center;
}

.selectionUsuario{
    border: 1px solid #91C16C;
    background-color: #91C16C;
    height: 30px;
    width: 200px;
    color: white;
    margin-left: 134px;
}

option{
    background-color: #729953
}

